@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

@font-face {
  font-family: 'SourceHanCodeJP';
  src: url('./font/SourceHanCodeJP.woff2') format('woff2'),
  url('./font/SourceHanCodeJP.woff') format('woff');
}


html[lang="ja"] {
  font-family: "SourceHanCodeJP",
  "Noto Sans JP",
  "Hiragino Kaku Gothic ProN",
  Meiryo,
  sans-serif;
}



.table-sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}


.nav-sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

.div-sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

body {
  font-family: 'SourceHanCodeJP',
  'Noto Sans JP',
  sans-serif;
  font-weight: 300;
  color: black;
}

h1 {
  font-family: 'SourceHanCodeJP', 'Noto Sans JP',
  sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'SourceHanCodeJP',
  'Noto Sans JP',
  sans-serif;
  font-weight: 300;
  color: black;
}


h3 {
  font-family: 'SourceHanCodeJP',
  'Noto Sans JP',
  sans-serif;
  font-weight: 300;
  color: black;
}

span {
  font-family: 'SourceHanCodeJP',
  'Noto Sans JP',
  sans-serif;
}

li {
  font-weight: 300;
  padding: 1%;
}


table {
  counter-reset: rowCount;
}

table>tbody>tr {
  counter-increment: rowCount;
}

table>tbody>tr>td:first-child::before {
  content: counter(rowCount);
}

.star {
  height: 2.0em;
  width: 2.0em;
  display: inline-block;
  background-color: #ff0081;
  -webkit-mask-image: url(image/star.svg);
  mask-image: url(image/star.svg);
  mask-size: 2.0em 2.0em;
  -webkit-mask-size: 2.0em 2.0em;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  mask-position: bottom;
  opacity: 0.70;
  cursor: pointer;
}

.star:hover {
  opacity: 1.0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 100%; */
}

