.table-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.nav-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.div-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}